---
import Layout from '$lib/layouts/Layout.astro';
import { contentList } from '$lib/lib/contentsList';

const title = 'おどうぐ箱とじゆちょう';
const description = 'なんかかいたのとつかえそうなもの';
---

<Layout {title} {description}>
	<header><h1 set:text={title} /></header>
	<main>
		<h2>なかみ</h2>
		{
			contentList.map((content) => (
				<article>
					<a href={content.link} set:text={content.title} />
					{content.description ? (
						<p set:text={content.description} class="article-desc" />
					) : (
						''
					)}
				</article>
			))
		}
	</main>
</Layout>

<style>
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: var(--font-family);
		color: var(--epaper-dark);
		background-color: var(--epaper-light);
	}

	header,
	main {
		max-width: 60rem;
		width: 80vw;
		min-width: 350px;
	}

	h2 {
		font-weight: 500;
		padding: 0 0.5rem;
		border-left: solid 0.2rem;
	}

	article {
		margin-bottom: 1rem;
		padding: 1rem 0.5rem;
		border: solid 1px;
	}

	a {
		color: var(--epaper-dark);
	}

	a:active {
		color: var(--epaper-light);
		background-color: var(--epaper-dark);
	}

	@media screen and (max-width: 500px) {
		header,
		main,
		footer {
			min-width: 250px;
			width: 95vw;
		}
	}
</style>
